<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <div class="card" >
        <a class="card-body text-center bg-primary text-light item-links" [routerLink]="['add-item']" >Add Item</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" >
        <a class="card-body text-center bg-primary text-light item-links" [routerLink]="['delete-item']">Remove Item</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" >
        <a class="card-body text-center bg-primary text-light item-links" [routerLink]="['view-all']">View Items</a>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm">
      <div class="card">
        <a class="card-body text-center bg-primary text-light item-links" [routerLink]="['lend-item']">Lend Item</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" >
        <a class="card-body text-center bg-primary text-light item-links" [routerLink]="['return-item']">Return Item</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" >
        <a class="card-body text-center bg-primary text-light item-links" [routerLink]="['report']">Genereate Report</a>
      </div>
    </div>
  </div>
</div>